table {
  overflow-x: scroll;
  margin-top: 10px;
  border-collapse: collapse;
}

th {
  padding: 1px 10px;
  background-color: #333A40;
  color: white;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

td {
  padding: 5px 10px;
  border: 0px 1px;
}

.td-first {
  font-weight: bold;
}
